### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/CTI.jar
/CTI.json
/o_prof
/options.txt
/patchouli_data.json
/rhino.local.properties
/TrashSlotSaveState.json
/usercache.json
/usernamecache.json
/shaderpacks/
/tconplanner/
/thingpacks/
/XaeroWaypoints/
/XaeroWaypoints_BACKUP032021/
/XaeroWorldMap/
/saves/
/PCL/
/patchouli_books/
/modernfix/
/logs/
/localconfigs/
/local/
/lightspeed-cache/
/keybinding presets/
/fancymenu_data/
/CustomSkinLoader/
/defaultconfigs/
/CTI-natives/
/crash-reports/
/Construct Technological Innovation-natives/
/config/
/backups/
/mods/
/resourcepacks/
/schematics/
/.abnormal
/screenshots/*
/ct.jar
/ct.json
/enigmatic_persistence.dat
/.vscode/fluid-attributes.json
/hs_err_pid6968.log
/hs_err_pid21912.log
/hs_err_pid50504.log
/.vscode/item-attributes.json
/.vscode/item-tag-attributes.json
/.vscode/lang-keys.json
/log4j2.xml
/Package.BakaCoreInfo
/.vscode/probe.class-definitions.json
/.vscode/probe.code-snippets
/.vscode/probe.doc-schema.json
/.vscode/probe.lang-schema.json
/.vscode/probe.lang_key-definitions.json
/.vscode/probe.registry-definitions.json
/replay_pid6968.log
/servers.dat
/.vscode/settings.json
